:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}
.centerDiv {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #5539cc;
    padding: 10px;
    background: #212534;
    width: var(--card-width);
    height: var(--card-height);
}
body {
    background-image: url("/images/minimalizm-gradient-background.jpg");
}
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}
img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.button-1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-1:hover,
.button-1:focus {
    background-color: #F082AC;
}
.infoText {
    color: rgb(88 199 250 / 100%);
    font-family: cursive;
    font-size: 1.5em;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(88 199 250 / 100%);
    font-family: cursive;
    font-size: .6em;
}
.toastify {
  padding: 12px 20px;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  position: fixed;
  top: -150px;
  right: 15px;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
}
.toastify.on { opacity: 1; }
